# For PyTeal smart contracts
pyteal==0.23.0
beaker-pyteal==1.0.0

# For Algorand SDK and blockchain interaction
py-algorand-sdk==2.0.0

# For environment variable management
python-dotenv==1.0.1

# For Transformers/NLP
transformers==4.40.1
datasets==2.18.0
tokenizers==0.19.1
torch==2.2.2

# For web scraping (used in data/webScraping.py)
beautifulsoup4==4.12.3
requests==2.31.0

peft==0.10.0